<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office App | {% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1 class="px-3 m-4 text-center">Employee Management</h1>
        <hr>
        <hr>
        <div class="row justify-content-around">
            <a type="button" href="/all" class="btn btn-primary col-md-2">View All</a>
            <a type="button" href="/add" class="btn btn-primary col-md-2">Add </a>
            <a type="button" href="/delete" class="btn btn-primary col-md-2">Delete</a>
            <a type="button" href="/filter" class="btn btn-primary col-md-2">Filter</a>
        </div>
        <hr>
    </div>
    <div class="container">
        {% block body %}{% endblock body %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>